.body {
  background-color: #efefef;
}

.username::before {
  content: "@";
}

.flexcontainer {
  display: flex;
  flex-direction: column;
}

.suggestedusers {
  /* margin-left: 66rem; */
  align-self: flex-end;
}

.mainbody {
  /* max-width: 150rem; */
  /* margin-left: 30rem; */
  align-self: center;
}
