.body {
  background-color: #efefef;
  background-image: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.1)),
    url("../../Images/backgroundImage/bg_img_12.jpg");
  background-position: center;
  background-size: cover;
}

.username::before {
  content: "@";
}

.flexcontainer {
  display: flex;
  align-items: flex-start;
  margin-left: 30rem;
}

.suggestedusers {
  margin-left: 4rem;
}

.mainbody {
  display: inline-block;
  margin: 0px 0px;
  padding: 0px 0px;
}

@media screen and (max-width: 768px) {
  .flexcontainer {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
  }
}
@media screen and (max-width: 415px) {
  .flexcontainer {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
  }
  .mainbody {
    margin-left: -2.5rem;
    width: 24rem;
  }
}
