.container {
  max-width: 30rem;
  /* border: solid 1px #efefef; */
  margin: 0 auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.title {
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 17px;
  text-align: left;
}

.username {
  font-size: 14px;
  color: gray;
  text-align: left;
}
.username::before {
  content: "@";
}
.icon {
  font-size: 1.3rem;
  cursor: pointer;
  display: inline-block;
  padding: 0rem 1rem;
}
.icon:hover {
  font-size: 2rem;
}
.content {
  font-size: 1.3rem;
}
.date {
  font-size: 14px;
  padding-top: 10px;
  color: gray;
}
@media screen and (max-width: 415px) {
  .container {
    max-width: 21rem;
    margin-left: -3rem;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 30rem;
    margin: 0 auto;
  }
}
